/*
	title  : layout.scss
	package: billsonparade
	author : nickmjones
	version: 1.0
*/

body {
  padding: 0;
  margin: 0;
}

header {
  @include outer-container;
  text-align: center;
}

.wrapper {
  @include outer-container;
}

section {
  margin-bottom: 3em;

  .bill-block {
    clear: both;
    margin: 0;
  }

  .card {
    @include span-columns(3);
    @include omega(4n);
    padding: $small-spacing;
    height: 4rem;
    line-height: 2.5rem;
    overflow: hidden;

    img {
      float: left;
    }

    &.democratic {
      background: $blue;
    }
    &.republican {
      background: $red;
    }
    &.unaffiliated {
      background: #888;
    }
  }

  .test {
    @include span-columns(6);
    text-align: left;
  }

  &.grid {
    .grid-sizer,
    .grid-item { width: 20%; }
    .grid-item--width2 { width: 40%; }
  }
}
