
<input id="address" type="text" placeholder="Enter your address"
             onFocus="geolocate()" style="width:500px;"/>
<!-- <button id="submitAdd" onclick="getCoordForAddress()">Submit</button> -->


<h4 id="status"></h4>

<section>
  <div id="houseRep"></div>
  <div id="senateRep"></div>
</section>
