
<input id="address" type="text" placeholder="Enter your address"
             onFocus="geolocate()" style="width:500px;"/>
<!-- <button id="submitAdd" onclick="getCoordForAddress()">Submit</button> -->


<h4 id="status"></h4>

<section>
  <div id="houseLeg"></div>
  <div id="senateLeg"></div>
</section>

<div id="mapHouse" style="height:250px; width:500px;"></div>
<br>
<div id="mapSenate" style="height:250px; width:500px;"></div>


<section>
  <h4>House Rep Bills<h4>
  <div id="houseLegBills"></div>
  <br>
  <h4>Senate Rep Bills<h4>
  <div id="senateLegBills"></div>
</section>
